includes:
    - %rootDir%/../phpstan-deprecation-rules/rules.neon
    - %rootDir%/../phpstan-phpunit/extension.neon
    - %rootDir%/../phpstan-phpunit/rules.neon
    - %rootDir%/../phpstan-strict-rules/rules.neon
    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - %rootDir%/../phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    autoload_directories:
        - %currentWorkingDirectory%/src

    ignoreErrors:
